

.container-create-post {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 23rem;
    display: block;
    flex-wrap: wrap;
    border-radius: 12px;
    background: linear-gradient(90deg, white, white 100%);
}


.input-create-post input {
    width: 40%;
    outline: none;
    height: 35px;
    font-size: 18px;
    margin: 15px;
    border-radius: 4px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #f0d37b, #edd18f 100%);
    border:none;
    position: relative;
    padding: 0px 15px;
} 

.p-create-post p {
    margin: 16px;
    margin-top: 10px;
    height: 0px;
    color:#333333;
    font-family: 'Poppins', sans-serif;
}

.title-create-post h1 {
    height: 40px;
    justify-content: center;
    height: 50px;
    display: flex;
    color:#333333;
    padding: 10px 17px;
}

.description-create-post textarea {
    width: 420px;
    height: 280px;
    color:black;
    font-size: 15px;
    background: linear-gradient(90deg,#f0d37b, #f1c999 100%);
    margin: 15px;
    resize: none; 
}

.logo-create-post p {
    margin: 16px;
    height: 0px;
    color:#333333;
    font-family: 'Poppins', sans-serif;
}


.img-input-create-post input {
    background-color: white;
    margin: 14px;
}


.input-submit-create-post input {
    width: 60%;
    outline: none;
    height: 35px;
    font-size: 18px;
    border-radius: 4px;
    color: #000000;
    font-family: 'Montserrat';
    background: linear-gradient(90deg, #e7948d, #e06e7c 100%);
    border:none;
    margin-left: 135px;
    margin-bottom: 13px;
    margin-top: 10px;
} 

.errors-create-post p {
    padding: 0px 220px;
    color:#333333;
    font-family: 'Poppins', sans-serif;
}
  
