

.container-show-post {
    width: 40%;
    margin-left: 5rem;
    margin-top: 2rem;
    border-radius: 0px;
    background: linear-gradient(90deg, white,white 100%);
    box-shadow: 0px 20px 10px -7px #0000002a;
}

.img-container-show-post img {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    background: white;
}

.title_post-show-post h1 {
    justify-content: center;
    margin-top: 2rem;
    color: #333333;
    font-size: 50px;
    display: flex;
    align-items: center;
}

.username_post-show-post h3 {
    justify-content: center;
    color: #333333;
    display: flex;
    align-items: center;
}

.description-post-show-post p {
    color: #333333;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    white-space: pre-line;
}
.third {
    display: flex;
}